:host {
  display: block;
  border-radius: 16px;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  border-radius: inherit;
  overflow: hidden;

  box-shadow: 5px 5px #8888887e, 5px 5px #8888887e;
}

.btn-settings {
  position: absolute;
  top: 20px;
  right: 20px;
}

.widget-header {
  display: flex;
  align-items: center;
}

.widget-label {
  margin: 0 0 5px 0;
}
