<button mat-icon-button class="btn-close" (click)="showOptions.set(false)">
  <mat-icon>close</mat-icon>
</button>
<div class="form-container">
  <form [formGroup]="settingsForm" class="form-settings">
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput formControlName="label" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Datasource</mat-label>
      <mat-select formControlName="dataSource">
        <mat-option value="one">Primary db</mat-option>
        <mat-option value="two">Secondary db</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      [disabled]="!settingsForm.valid"
      (click)="onSubmit($event)"
    >
      Save
    </button>
  </form>
</div>

<button
  mat-icon-button
  class="btn-remove-widget"
  (click)="store.removeWidget(data().id)"
>
  <mat-icon>delete</mat-icon>
</button>
