<button mat-icon-button class="btn-close" (click)="showOptions.set(false)">
  <mat-icon>close</mat-icon>
</button>
<div>
  Width
  <mat-button-toggle-group
    hideSingleSelectionIndicator="true"
    [value]="data().columns ?? 1"
    (change)="store.updateWidget(data().id, { columns: +$event.value })"
  >
    <mat-button-toggle [value]="1">1</mat-button-toggle>
    <mat-button-toggle [value]="2">2</mat-button-toggle>
    <mat-button-toggle [value]="3">3</mat-button-toggle>
    <mat-button-toggle [value]="4">4</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div>
  Height
  <mat-button-toggle-group
    hideSingleSelectionIndicator="true"
    [value]="data().rows ?? 1"
    (change)="store.updateWidget(data().id, { rows: +$event.value })"
  >
    <mat-button-toggle [value]="1">1</mat-button-toggle>
    <mat-button-toggle [value]="2">2</mat-button-toggle>
    <mat-button-toggle [value]="3">3</mat-button-toggle>
    <mat-button-toggle [value]="4">4</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<button
  mat-icon-button
  class="btn-remove-widget"
  (click)="store.removeWidget(data().id)"
>
  <mat-icon>delete</mat-icon>
</button>
