.title {
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-span {
  width: 100%;
  display: flex;
  gap: 2rem;

  > input {
    width: 50%;
  }
}

mat-grid-list {
  height: 8rem;
}
