<div class="sidenav-header">
  <img
    class="img-sidenav-header"
    width="100"
    height="100"
    src="img/me.jpeg    "
    alt="#"
  />
  <div class="header-text">
    <h2>Your channel</h2>
    <p>Fahim Imtiaz</p>
  </div>
</div>
<mat-nav-list>
  <!-- <a mat-list-item *ngFor="let item of menuItems">
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.label }} </span>
  </a> -->
  @for (item of menuItems(); track item.label) {
  <a mat-list-item>
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.label }} </span>
  </a>

  }
</mat-nav-list>
