<div class="sidenav-header">
  <img
    class="img-sidenav-header"
    [width]="profilePicSize()"
    [height]="profilePicSize()"
    src="img/me.png"
    alt="#"
  />
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2>Your dashboard</h2>
    <p>Fahim Imtiaz</p>
  </div>
</div>
<mat-nav-list>
  <!-- <a mat-list-item *ngFor="let item of menuItems">
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.label }} </span>
  </a> -->
  @for (item of menuItems(); track item.label) {
  <a
    class="menu-item"
    mat-list-item
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
      >{{ item.icon }}</mat-icon
    >
    @if (!sideNavCollapsed()){
    <span matListItemTitle>{{ item.label }} </span>
    }
  </a>

  }
</mat-nav-list>
