<div class="header-widgets">
  <div class="header-text">
    <h1 class="heading-primary font-weight-bold">Widgets</h1>
    <p class="subheading font-weight-light">
      Manage your dashboard widgets and their data sources
    </p>
  </div>

  <button mat-flat-button>
    <mat-icon class="material-icons-outlined font-weight-bold"> add </mat-icon>
    Add new widget
  </button>
</div>
<div class="widget-settings-container">
  @for (w of store.addedWidgets(); track w.id){
  <app-form [data]="w" />
  }
</div>
