<div class="header">
  <h2>Dashboard</h2>
  <button mat-raised-button [matMenuTriggerFor]="widgetMenu">
    <mat-icon>add_circle</mat-icon>Add widget
  </button>
  <mat-menu #widgetMenu="matMenu">
    @for (widget of store.widgetsToAdd(); track widget.id){
    <button mat-menu-item (click)="store.addWidget(widget)">
      {{ widget.label }}
    </button>
    } @empty {
    <button mat-menu-item>No widgets to add</button>
    }
  </mat-menu>
</div>

<div class="dashboard-widgets">
  @for (w of store.addedWidgets(); track w.id){
  <app-widget [data]="w" />
  }
</div>
